@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');
:root{
	--light-cyan: rgb(206, 227, 233);
	--neon-green: rgb(82, 255, 168);
	--grayish-blue: rgb(78, 93, 115);
	--dark-grayish-blue: rgb(50, 58, 73);
	--dark-blue: rgb(31, 38, 50);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
	font-size: 28px;
	font-weight: 800;
}

main {
	background-color: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100vh;
}

#wrapper {
	width: 550px;
	border-radius: 20px;
	background-color: var(--dark-grayish-blue);
	align-self: center;
	position: relative;
	text-align: center;
	padding: 30px 50px 60px;
	z-index: 1;
}

#number, #number span {
	font-size: 13px;
	color: var(--neon-green);
	font-weight: 800;
	letter-spacing: 5px;
}

#text {
	margin: 30px 0;
	color: var(--light-cyan);
}


#dice {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color:  var(--neon-green);
	padding: 20px;
	background-clip: padding-box;
	cursor: pointer;
	display: block;
	position:absolute;
	left: calc(50% - 32px);
	bottom: -32px;

}

#dice:hover {
	box-shadow: 0 0 15px 15px rgba(82, 255, 169, 0.2);
}

#dice img {
	display: block;
	width: 24px;
	height: 24px;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 0.4em;
	text-align: center;
	color: var(--grayish-blue);
	padding: 15px;
}

footer a {
	color: var(--light-cyan);
	font-size: 1em;
	text-decoration: none;
}

@media screen and (max-width: 375px) {
	#wrapper {
		width: 335px;
		padding: 30px 20px 60px;
	}
}

@media screen and (max-width: 600px) {
	#wrapper {
		max-width: 90%;
	}
	
	#separator {
		max-width: 100%;
	}
}